.allContent {

	text-align: center;
}
.bodyContent {
font-family: 'Oswald', sans-serif;
color: #27292E;
font-size: 1em;
font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
color: #27292E;
font-family: 'Oswald', sans-serif;
font-size: 1.2em;
border-bottom: solid;
border-width: 3px;
border-color: #DB5E0B;

}
a:link{
text-decoration: none; 
color: #DB5E0B;
}
a:visited{
	text-decoration: none; 
	color: #DB5E0B;
}
#content2{
	/*background: url(../images/icantbreathe.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;*/
 
}
#content1{
background: url(../images/walterscott.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
#content3 {

	background: url(../images/sweden.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#content4 {
background: url(../images/germany.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#content5 {
background: url(../images/russia.jpg);
	background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  

}

#content6 {
background: url(../images/brazil.png);
	background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}